{% extends 'layout/app/main.html' %}

{% block modals %}
  {% include 'layout/app/shared/Messages.html' %}
  {% include 'view/userList/modal/deleteUser.html' with id='deleteUserModal' %}
{% endblock modals %}

{% block main %}
  <h2>Editar usuario</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Guardar cambios</button>
    <a href="{% url 'user_list' %}" class="btn btn-secondary">Cancelar</a>
  </form>

  <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteUserModal" data-bs-user-id="{{ user.id }}" data-bs-user-name="{{ user.username }}">Eliminar</button>
  
  <h3>Proyectos de este usuario</h3>
  {% if projects %}
    <ul>
      {% for project in projects %}
        <li><a href="{% url 'list_goals' project.id %}">{{ project.name }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Este usuario no tiene proyectos.</p>
  {% endif %}
{% endblock %}