{% extends 'layout/app/main.html' %}

{% block modals %}
  {% include 'layout/app/shared/Messages.html' %}
  {% include 'view/userList/modal/deleteUser.html' with id='deleteUserModal' %}
{% endblock modals %}

{% block sidebar %}
{# Aqui va el filtro #}
<form method="get" class="mb-3">
  <label for="status" class="form-label">Filtrar por estado:</label>
  <select name="status" id="status" class="form-select" onchange="this.form.submit()">
    <option value="">Todos</option>
    <option value="activo" {% if current_status == "activo" %}selected{% endif %}>Activo</option>
    <option value="suspendido" {% if current_status == "suspendido" %}selected{% endif %}>Suspendido</option>
    <option value="eliminado" {% if current_status == "eliminado" %}selected{% endif %}>Eliminado</option>
  </select>
  {# Si tienes búsqueda, conserva el valor #}
  {% if request.GET.search %}
    <input type="hidden" name="search" value="{{ request.GET.search }}">
  {% endif %}
</form>
{% endblock sidebar %}

{% block main %}
  {% include 'layout/app/shared/TopNav.html' with title='Lista de usuarios' %}

  <div class="overflow-auto p-2" style="height: 100dvh;">
    <table class="table">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Email</th>
        <th>Activo</th>
        <th>Staff</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td><a href="{% url 'user_edit' user.pk %}">{{ user.username }}</a></td>
        <td>{{ user.email }}</td>
        <td>{{ user.is_active|yesno:"Sí,No" }}</td>
        <td>{{ user.is_staff|yesno:"Sí,No" }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include 'layout/app/shared/Pagination.html' with class='justify-content-start m-2' %}
</div>
  

{% endblock %}