{% extends 'layout/app/main.html' %}

{% block modals %}
  {% include 'view/resourcesList/modal/deleteResource.html' with id='deleteResourceModal' %}
  {% include 'view/resourcesList/modal/editResource.html' with id='editResourceModal' %}

  <div class="modal fade" id="createResourceModal" tabindex="-1" aria-labelledby="createResourceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createResourceModalLabel">Crear Nuevo Recurso</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="post" action="{% url 'create_resource' project_pk=project.pk %}">
          {% csrf_token %}
          <div class="modal-body">
            <div class="mb-3">
              <label for="resourceName" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="resourceName" name="name" required />
            </div>
            <div class="mb-3">
              <label for="resourceType" class="form-label">Tipo</label>
              <select class="form-select" id="resourceType" name="type" required>
                {% for key, value in resource_type_choices %}
                  <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-3">
              <label for="resourceCost" class="form-label">Costo por Hora</label>
              <input type="number" step="0.01" class="form-control" id="resourceCost" name="cost_per_hour" required />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Crear</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block sidebar %}
  <button class="btn btn-lg btn-primary w-100 my-2 mt-1" data-bs-toggle="modal" data-bs-target="#createResourceModal"><i class="bi bi-plus"></i> Nuevo Recurso</button>

  <a href="{% url 'generate_resource_ai' project.pk %}" class="btn btn-sm btn-outline-primary w-100 my-1">Generar recurso con IA</a>



{# Lista de metas y filtro por tipo de recurso #}
<div class="my-2 flex-grow-1 overflow-auto">
  <form class="list-group list-group-flush bg-transparent" method="get">
    <button type="submit" name="type" value="" class="bg-transparent list-group-item list-group-item-action d-flex justify-content-between align-items-center">Todos</button>
    {% for key, value in resource_type_choices %}
      <button type="submit" name="type" value="{{ key }}" class="bg-transparent list-group-item list-group-item-action d-flex justify-content-between align-items-center">{{ value }}</button>
    {% endfor %}
  </form>
</div>

{% endblock %}

{% block main %}
  {% include 'layout/app/shared/TopNav.html' with resourcesTab='active' title=project.name %}

  <div class="overflow-auto p-2" style="height: 100dvh;">
    {% include 'layout/app/shared/Messages.html' %}

    {% if request.GET.search %}
      <div class="ps-2 my-2">
        <span class="fw-bold">Resultados para: '{{ request.GET.search }}'</span>
      </div>
    {% endif %}

    <div class="card mb-3">
      {# Título de la card con nombres de columnas #}
      <div class="card-header d-none d-md-block">
        <div class="row align-items-center">
          <div class="col-md-4">Nombre</div>
          <div class="col-md-3 p-0">Tipo</div>
          <div class="col-md-3 p-0">Costo por Hora</div>
          <div class="col-md-2 text-end">Acciones</div>
        </div>
      </div>

      <div class="card-body p-0">
        <ul class="list-group list-group-flush">
          {% for resource in resources %}
            <li class="list-group-item list-group-item-action">
              <div class="d-flex flex-column flex-md-row align-items-md-center w-100">
                {# Columna 1: Nombre #}
                <div class="col-md-4 pe-2 mb-2 mb-md-0">
                  <a data-bs-toggle="modal" data-bs-target="#editResourceModal" data-bs-resource-id="{{ resource.pk }}" data-bs-resource-name="{{ resource.name }}" data-bs-resource-type="{{ resource.type }}" data-bs-resource-cost="{{ resource.cost_per_hour }}" class="link-underline fw-medium link-underline-opacity-0">{{ resource.name }}</a>
                </div>

                {# Columna 2: Tipo #}
                <div class="col-md-3 pe-2 mb-2 mb-md-0">{{ resource.get_type_display }}</div>

                {# Columna 3: Costo por Hora #}
                <div class="col-md-3 pe-2 mb-2 mb-md-0">{{ resource.cost_per_hour }}</div>

                {# Columna 4: Acciones #}
                <div class="col-md-2 text-md-end">
                  {# <button class="btn btn-outline-secondary btn-sm border-0" data-bs-toggle="modal" data-bs-target="#editResourceModal" data-bs-resource-id="{{ resource.pk }}" data-bs-resource-name="{{ resource.name }}" data-bs-resource-type="{{ resource.type }}" data-bs-resource-cost="{{ resource.cost_per_hour }}"><i class="bi bi-pencil"></i></button> #}
                  <button class="btn btn-outline-secondary btn-sm border-0" data-bs-toggle="modal" data-bs-target="#deleteResourceModal" data-bs-resource-id="{{ resource.pk }}" data-bs-resource-name="{{ resource.name }}"><i class="bi bi-trash"></i></button>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    {% include 'layout/app/shared/Pagination.html' with class='justify-content-start mt-2 mb-2' %}
  </div>


    {% include 'layout/bottomNav.html' %}
{% endblock %}
