{% if messages %}
<div 
    class="position-fixed end-0 p-3"
    style="z-index: 11"
    :class="window.innerWidth < 576 ? 'top-0' : 'bottom-0'"
    x-data="{
        init() {
            this.$nextTick(() => {
                const toastElList = [].slice.call(this.$el.querySelectorAll('.toast'));
                toastElList.forEach(toastEl => {
                    new bootstrap.Toast(toastEl).show();
                });
            });
        }
    }"
    x-init="$watch('window.innerWidth', value => $el.classList.toggle('top-0', value < 576) || $el.classList.toggle('bottom-0', value >= 576))"
>
    {% for message in messages %}
    <div class="toast show align-items-center" role="alert" aria-live="assertive" aria-atomic="true" 
         data-bs-autohide="true" data-bs-delay="5000">
        <div class="d-flex">
            <div class="toast-body d-flex align-items-center">
                <i class="bi {% if message.tags == 'error' %}bi-exclamation-circle-fill text-danger{% elif message.tags == 'success' %}bi-check-circle-fill text-success{% elif message.tags == 'warning' %}bi-exclamation-triangle-fill text-warning{% else %}bi-info-circle-fill text-info{% endif %} me-2"></i>
                {{ message }}
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}