<div class="dropdown">
  {# perfil de usuario #}
  <button class="btn btn-outline-secondary border-0 w-100 text-start" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
    <div class="bg-primary text-white small rounded-circle d-inline-flex align-items-center justify-content-center" style="width: 32px; height: 32px;">AB</div>
    <span class="small ms-1">My User</span>
  </button>

  {# acciones #}
  <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="userDropdown">
    <btn class="dropdown-item" data-bs-toggle="modal" data-bs-target="#userModal">
      <i class="bi bi-person-fill me-2"></i>Perfil
    </btn>

    <hr class="dropdown-divider" />

    <button type="submit" class="dropdown-item" form="logoutForm">
      {% include 'layout/shared/LogoutForm.html' with id='logoutForm' %}
      <i class="bi bi-box-arrow-right me-2"></i>Cerrar sesión
    </button>
  </ul>
</div>
