
{% if is_paginated %}
  <ul class="pagination {{ class }}">
    <!-- Páginas cercanas -->
    {% for num in page_obj.paginator.page_range %}
      {% if num == page_obj.number %}
        <li class="page-item active" aria-current="page">
          <span class="page-link bg-secondary border-secondary">{{ num }}</span>
        </li>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} 
        <li class="page-item">
          <a class="page-link text-secondary" href="?page={{ num }}{% if current_query %}&{{ current_query }}{% endif %}">{{ num }}</a>
        </li>
      {% elif num == 1 or num == page_obj.paginator.num_pages %}
        <li class="page-item">
          <a class="page-link text-secondary" href="?page={{ num }}{% if current_query %}&{{ current_query }}{% endif %}">{{ num }}</a>
        </li>
      {% elif num == page_obj.number|add:'-3' or num == page_obj.number|add:'3' %}
        <li class="page-item disabled">
          <span class="page-link text-secondary">...</span>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

{% endif %}