<div x-data="{ showSearch: false }" class="">
    {# Barra unificada que maneja ambos estados #}
    <nav class="navbar navbar-expand-lg" style="height: 58px;">
        <div class="container-fluid ps-2">
            {# Contenido normal (se muestra cuando showSearch = false) #}
            <template x-if="!showSearch">
                <div class="d-flex w-100 align-items-center">
                    <div class="text-body text-decoration-none ms-2">
                        <div class="d-none d-lg-flex justify-content-end align-items-center">
                            <div class="fs-5 me-3 fw-bold">{{ title }}</div> 
                            
                            {% if project %}
                            <ul class="nav nav-underline">
                                <li class="nav-item"><a class="nav-link {{ tasksTab }}" href="{% url 'list_goals' pk=project.pk %}"><i class="bi bi-list-task me-2"></i>Tareas</a></li>
                                <li class="nav-item"><a class="nav-link {{ resourcesTab }}" href="#"><i class="bi bi-collection me-2"></i>Recursos</a></li>
                                <li class="nav-item"><a class="nav-link {{ projectTab }}" href="{% url 'details_project' pk=project.pk %}"><i class="bi bi-folder me-2"></i>Proyecto</a></li>
                            </ul>
                            {% endif %}
                        </div>
                    
                        <div class="d-flex d-lg-none fs-5"><i class="bi bi-layout-wtf me-2"></i>ProjectWise</div>
                    </div>

                    <button @click="showSearch = true" class="btn btn-outline-secondary ms-auto">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </template>

            {# Barra de búsqueda (se muestra cuando showSearch = true) #}
            <template x-if="showSearch">
                <div class="d-flex w-100">
                    <form @submit.prevent="$el.submit()" class="d-flex w-100" method="get">
                        {# Agregar todos los parámetros GET existentes (excepto 'search') como inputs hidden #}
                        {% for key, value in request.GET.items %}
                            {% if key != 'search' %}
                                <input type="hidden" name="{{ key }}" value="{{ value }}">
                            {% endif %}
                        {% endfor %}
                        
                        <div class="input-group border rounded flex-grow-1">
                            <button type="submit" class="btn btn-outline-secondary border-0 ">
                                <i class="bi bi-search"></i>
                            </button>
                            <input name="search" type="text" class="form-control shadow-none border-0" 
                                   placeholder="Buscar..." value="{{request.GET.search}}" x-ref="searchInput"
                                   @focus="if($el.value === '') $el.value = ' '">
                        </div>
                
                        <button @click="showSearch = false; $refs.searchInput.value = ''" 
                                class="btn btn-outline-secondary border-0 ms-1" type="button">
                            <i class="bi bi-x-lg"></i>
                        </button>
                    </form>
                </div>
            </template>
        </div>
    </nav>
</div>