{% extends 'layout/app/main.html' %}

{% block sidebar %}
  {# cta #}
  <button class="btn btn-lg btn-primary w-100 mt-1" data-bs-toggle="modal" data-bs-target="#createProjectModal"><i class="bi bi-plus me-2"></i>Nueva meta</button>

  {# filtros #}
  <form class="list-group list-group-flush mt-4">
    <button type="submit" name="filter" value="active" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      Activos{% if request.GET.filter == 'active' %}
        <i class="bi bi-check-circle"></i>
      {% endif %}
    </button>

    <button type="submit" name="filter" value="all" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      Todos{% if not request.GET.filter or request.GET.filter == 'all' %}
        <i class="bi bi-check-circle"></i>
      {% endif %}
    </button>

    <button type="submit" name="filter" value="archived" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      Archivados{% if request.GET.filter == 'archived' %}
        <i class="bi bi-check-circle"></i>
      {% endif %}
    </button>
  </form>
{% endblock %}

{% block modals %}
  {% include 'view/proyectList/createProyectModal.html' with id="createProjectModal" %}
  {% include 'view/proyectList/confirmAchiveModal.html' with id="archiveModal" %}
  {% include 'view/proyectList/confirmDeleteModal.html' with id="deleteModal" %}
{% endblock %}

{% block main %}
  {% include 'layout/app/shared/TopNav.html' with title='Mis Proyectos' %}
  {% include 'layout/app/shared/Messages.html' %}

  {# autoscroll #}
  <div class="overflow-auto p-2" style="height: 100dvh;">
    {% if request.GET.search %}
      <div class="ps-2 my-2">
        <span class="fw-bold">Resultados para: '{{ request.GET.search }}'</span>
      </div>
    {% endif %}

    {# body #}
    <div class="table-responsive">
      <table class="table table-hover mb-0">
        <thead>
          <tr>
            <th scope="col" class="w-100">Título</th>
            <th scope="col" class="col-auto text-nowrap">Propietario</th>
            <th scope="col" class="col-auto text-nowrap">Ultima modificacion</th>
            <th scope="col" class="col-auto text-nowrap">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for project in projects %}
            <tr>
              <td class="w-100">{{ project.name }}</td>
              <td class="col-auto text-nowrap">{{ project.owner.get_full_name|default:project.owner.username }}</td>
              <td class="col-auto text-nowrap">{{ project.last_modified|date:'SHORT_DATETIME_FORMAT' }}</td>

              <td class="col-auto text-nowrap">
                {% if not project.is_archived %}
                  <button 
                    class="btn btn-warning btn-sm" 
                    data-bs-toggle="modal"
                    data-bs-target="#archiveModal"
                    data-bs-project-id="{{ project.id }}"
                    data-bs-project-name="{{ project.name }}">
                    Archivar
                  </button>
                {% endif %}

                <button 
                  class="btn btn-danger btn-sm" 
                  data-bs-toggle="modal" 
                  data-bs-target="#deleteModal" 
                  data-bs-project-id="{{ project.id }}" 
                  data-bs-project-name="{{ project.name }}" >
                  Eliminar
                </button>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
