<!DOCTYPE html>
<html>
  <head>
    <title>Marker Animations</title>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnkzmvIUVIave5wE6vRjcOjme5X8gY3pY&callback=initMap&v=weekly" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>

    <style>
      #map {
        height: 100%;
        width: 100%;
      }
      
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body x-data="{ latitud: 32.53205262030344, longitud: -116.96456423568723 }">

    <form method="post">
      {% csrf_token %}
      <input type="hidden" id="id_latitud" name="latitud" x-model="latitud">
      <input type="hidden" id="id_longitud" name="longitud" x-model="longitud">
      <button type="submit" style="display: none;">Guardar</button>
    </form>

    <div id="map"></div>

    <script defer>
      let marker
      
      function initMap() {
        const map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: {
            lat: 32.53205262030344,
            lng: -116.96456423568723
          }
        })
      
        marker = new google.maps.Marker({
          map,
          draggable: true,
          animation: google.maps.Animation.DROP,
          position: {
            lat: 32.53205262030344,
            lng: -116.96456423568723
          }
        })
        marker.addListener('click', toggleBounce)
        marker.addListener('dragend', (event) => {
          const latLng = event.latLng
          Alpine.$data(document.body).latitud = latLng.lat()
          Alpine.$data(document.body).longitud = latLng.lng()
        })
      }
      
      function toggleBounce(a) {
        if (marker.getAnimation() !== null) {
          marker.setAnimation(null)
        } else {

          const latLng = a.latLng
          Alpine.$data(document.body).latitud = latLng.lat()
          Alpine.$data(document.body).longitud = latLng.lng()

          // Mostrar alerta para confirmar la ubicación
          const confirmacion = confirm("¿Confirmas esta ubicación? Lat: " + latLng.lat() + ", Lng: " + latLng.lng());
          
          if (confirmacion) {
            // Si el usuario acepta, hacer submit en el formulario
            document.querySelector('form').submit();
          }
        }
      }
      
      window.initMap = initMap
    </script>
  </body>
</html>
