{% extends 'layout/base.html' %}
{% block title %}
  test
{% endblock %}

{% load static %}

{% block content %}
  {% include 'layout/app/shared/UserModal.html' with id='userModal' %}
  {% block modals %}

  {% endblock %}

  {# CONTENEDOR FLEX PADRE #}
  <div class="d-flex" style="height: 100dvh;">
    {# SIDEBAR #}
    <div class="bg-body d-none d-lg-flex flex-column" style="min-width: 248px; max-width: 216px; height: 100dvh;">
      <div style="width: 168px; height: 40px;" class="m-3 mb-2 ms-4">
        <h4 class="text-center"><i class="bi bi-layout-wtf me-2"></i>ProjectWise</h4>
      </div>
    
      {# Contenedor scrollable #}
      <div class="px-3 d-flex flex-column flex-grow-1" style="overflow-y: auto;">
        {% block sidebar %}
        {% endblock %}
      </div>
    
      {# USUARIO fijo abajo #}
      <div class="pb-2 px-2">

      {% include 'layout/app/shared/MyUser.html' %}
      </div>
    </div>
    

    {# CONTENIDO PRINCIPAL #}
    <div class="d-flex flex-column flex-grow-1" style="height: 100dvh;">
      {% block main %}
        {% include 'layout/app/shared/TopNav.html' %}

        <ul class="nav nav-underline d-none d-lg-flex">
          <li class="nav-item">
            <a class="nav-link active" href="#"><i class="bi bi-list-task me-2"></i>Tareas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-collection me-2"></i>Recursos</a>
          </li>
        </ul>

        <div class="overflow-auto p-1 flex-grow-1">
          <div class="table-responsive">
            <table class="table table-hover mb-0">
              <thead>
                <tr>
                  <th scope="col" class="col-auto">
                    <input type="checkbox" id="select-all" class="form-check-input" />
                  </th>
                  <th scope="col" class="w-100">Título</th>
                  <th scope="col" class="col-auto text-nowrap">Estado</th>
                  <th scope="col" class="col-auto text-nowrap">Progreso</th>
                </tr>
              </thead>
              <tbody>
                {% for i in 'x'|rjust:'100' %}
                  <tr>
                    <td class="col-auto">
                      <input type="checkbox" name="item-select" value="{{ forloop.counter }}" class="form-check-input" />
                    </td>
                    <td class="w-100">Título del elemento {{ forloop.counter }}</td>
                    <td class="col-auto text-nowrap">Pendiente</td>
                    <td class="col-auto text-nowrap">0%</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        {% include 'layout/app/shared/BottomNav.html' %}
      {% endblock %}
    </div>
  </div> {# cierre del contenedor flex #}
{% endblock %}
