{% extends 'layout/base.html' %}
{% block title %}
  test
{% endblock %}

{% load static %}

{% block content %}

  {% include 'layout/app/shared/UserModal.html' with id='userModal' %}
  {% block modals %}
    
  {% endblock modals %}

  <div class="d-flex justify-content-start">
    {# sidebar #}
    <div class="bg-body m-auto flex-column d-none d-lg-flex bg-body-tertiary" style="min-width: 248px; max-width: 216px; height: 100dvh;">
      <div style="width: 168px; height: 40px;" class="m-3 mb-2">
        <h4 class="text-center"><i class="bi bi-layout-wtf me-2"></i>ProjectWise</h4>
      </div>

      <div class="p-3 pb-2 flex-grow-1 d-flex flex-column">
        <div>
          {% block sidebar %}
            {# cta #}
            <button class="btn btn-lg btn-primary w-100 mt-1"><i class="bi bi-plus me-2"></i>Nueva meta</button>

            {# filtros #}
            <div class="list-group list-group-flush mt-3">
              <a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                A third link item
                <i class="bi bi-check-circle"></i>
              </a>
              <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
              <a class="list-group-item list-group-item-action">A disabled link item</a>
            </div>
          {% endblock %}
        </div>

        {# Final del sidebar #}
        <div class="mt-auto">
          {% include 'layout/app/shared/MyUser.html' %}
        </div>
      </div>
    </div>

    {# izquierda #}
    <div class="d-flex flex-column" style="width: 100%; height: 100dvh;">
      {# top nav #}
      {% block main %}
        {% include 'layout/app/shared/TopNav.html' %}

        <ul class="nav nav-underline d-none d-lg-flex">
          <li class="nav-item">
            <a class="nav-link active" href="#"><i class="bi bi-list-task me-2"></i>Tareas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-collection me-2"></i>Recursos</a>
          </li>
        </ul>

        {# autoscroll #}
        <div class="overflow-auto p-1" style="height: 100dvh;">
          {# body #}

          <div class="table-responsive">
            <table class="table table-hover mb-0">
              <thead>
                <tr>
                  <th scope="col" class="col-auto">
                    <input type="checkbox" id="select-all" class="form-check-input" />
                  </th>
                  <th scope="col" class="w-100">Título</th>
                  <th scope="col" class="col-auto text-nowrap">Estado</th>
                  <th scope="col" class="col-auto text-nowrap">Progreso</th>
                </tr>
              </thead>
              <tbody>
                {% for i in 'x'|rjust:'100' %}
                  <tr>
                    <td class="col-auto">
                      <input type="checkbox" name="item-select" value="{{ forloop.counter }}" class="form-check-input" />
                    </td>
                    <td class="w-100">Título del elemento {{ forloop.counter }}</td>
                    <td class="col-auto text-nowrap">Pendiente</td>
                    <td class="col-auto text-nowrap">0%</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        {# bottom nav #}
        {% include 'layout/app/shared/BottomNav.html' %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
