<div class="modal fade" id="{{ id }}" tabindex="-1" aria-labelledby="createTaskModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createTaskModalLabel">Crear Nueva Tarea</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" action="{% url 'create_task' goal_pk=goal %}">
        <div class="modal-body">
          {% csrf_token %}

          <!-- Nombre -->
          <div class="mb-3">
            <label for="taskName" class="form-label">Nombre de la Tarea</label>
            <input type="text" class="form-control" id="taskName" name="name" required maxlength="100" />
          </div>

          <!-- Duración (horas) -->
          <div class="mb-3">
            <label for="taskDuration" class="form-label">Duración (horas)</label>
            <input type="number" class="form-control" id="taskDuration" name="duration_hours" min="1" required />
          </div>

          <!-- Descripción -->
          <div class="mb-3">
            <label for="taskDescription" class="form-label">Descripción</label>
            <textarea class="form-control" id="taskDescription" name="description" style="height: 100px; min-height: 100px;"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Crear Tarea</button>
        </div>
      </form>
    </div>
  </div>
</div>
