{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <head>
    <script src="{% static 'script/theme.js' %}"></script>

    {% include 'layout/shared/Imports.html' %}
    <title>
      {% block title %}
        Sin Titulo
      {% endblock %}
    </title>
  </head>
  <body>
    {% block content %}

    {% endblock %}
  </body>
</html>

{% comment '' %}
<button type="submit" class="dropdown-item py-2" form="logoutForm">
  {% include 'layout/shared/LogoutForm.html' with id='logoutForm' %}

  <i class="bi bi-box-arrow-right me-2"></i>
  <span>Cerrar Sesión</span>
</button>
{% endcomment %}
